/* Custom variables */
$theme-color: #812177;
$text-color: #000000;
$text-color-secondary: #000000;
$text-grey: #2A3037;
$divider: #e8e8e8;
$lighter-grey: #2A3037;
$darker-grey: #2A3037;
$smoky-white: #FFFFFF;
$heart: #fb866a;
