/* Custom variables */
$theme-color: #154c41;
$text-color: #000000;
$text-color-secondary: #000000;
$text-grey: #2a3037;
$divider: #e8e8e8;
$lighter-grey: #2a3037;
$darker-grey: #2a3037;
$smoky-white: #35363a;
$heart: #fb866a;
